html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend
{
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;

    margin: 0;
    /*outline: 1px dotted red;*/
    padding: 0;

    vertical-align: baseline;

    border: 0;
}
/* remember to define focus styles! */
:focus
{
    outline: 0;
}
body
{
    line-height: 1;

    color: black;
    background: white;
}
ol,
ul
{
    list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table
{
    border-spacing: 0;
    border-collapse: separate;
}
caption,
th,
td
{
    font-weight: normal;

    text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
}
blockquote,
q
{
    quotes: '' '';
}
html
{
    box-sizing: border-box;
}
*,
*:before,
*:after
{
    box-sizing: inherit;
}
/*====================MY CODE BELOW======================================*/
#wrapper
{
    max-width: 900px;
    min-height: 300px;
}
#header
{
    min-height: 30px;
}
#header h1
{
    display: inline-block;

    vertical-align: top;
}
#header_name
{
    display: inline-block;

    margin-left: 600px;

    vertical-align: top;
}
form.log_off
{
    display: inline-block;

    margin-left: 40px;

    vertical-align: top;
}
form.log_off input
{
    color: blue;
    border: none;
    background: none;
}
input #message
{
    width: 100px;
}
#message
{
    width: 430px;
    margin: 0 auto;
    margin-top: 20px;
}
#message h2
{
    font-family: helvetica;
    font-size: 30px;
    font-weight: bold;
}
#message input
{
    border: solid black;
    background-color: lightblue;
}
#post_message
{
    margin-left: 332px;
}
textarea
{
    overflow: scroll;

    margin-top: 10px;
}
div.message_feed
{
    overflow: scroll;

    width: 430px;
    min-height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;

    word-wrap: break-word;

    color: blue;
}
div.message_feed p
{
    font-size: 23px;
    font-weight: bold;

    color: black;
}
input #comment
{
    width: 100px;
}
#comment
{
    width: 430px;
    margin: 0 auto;
    margin-top: 20px;
}
#comment form
{
    margin-bottom: 50px;
}
#post_comment
{
    margin-left: 328px;
}
#post_comment input
{
    border: solid black;
    background-color: lightgreen;
}
textarea
{
    overflow: scroll;

    margin-top: 10px;
}
span.comments p
{
    font-size: 10px;

    margin-left: 50px;

    color: green;
}
span.comment_name p 
{
    font-size: 12px;
}
