html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	/*outline: 1px dotted red;*/
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*====================MY CODE BELOW======================================*/
#wrapper {
	min-height: 300px;
	max-width: 900px;
}
	#header {
	 	min-height: 30px;
	 }
	 	#header h1 {
			display: inline-block;
			vertical-align: top;
	 	}
	 	#header_name {
	 		display: inline-block;
	 		vertical-align: top;
	 		margin-left: 600px;
	 	}
	 	form.log_off {
	 		display: inline-block;
	 		vertical-align: top;
	 		margin-left: 40px;
	 	}
	 	form.log_off input{
	 		color: blue;
	 		background: none;
	 		border: none;
	 	}
	 	input #message {
	 		width: 100px;
	 	}
	 	#message {
	 		width: 430px;
	 		margin: 0 auto;
	 		margin-top: 20px;
	 	}
	 	#message input {
	 		background-color: blue;
	 		border: solid black;
	 		border-radius: 20px;
	 		color:white;
	 	}
	 	#post_message {
	 		margin-left: 315px;
	 	}
	 	textarea {
	 		margin-top: 10px;
	 		overflow: scroll;
	 	}
	 	div.message_feed {
	 		width: 430px;
	 		min-height: 50px;
	 		margin: 0 auto;
	 		margin-bottom: 10px;
	 		margin-top: 10px;
	 		/*border: 1px solid black;*/
	 		overflow: scroll;
	 		word-wrap: break-word;
	 	}
		input #comment {
	 		width: 100px;
	 	}
	 	#comment {
	 		width: 430px;
	 		margin: 0 auto;
	 		margin-top: 20px;
	 	}
	 	#post_comment {
	 		margin-left: 315px;
	 	}
	 	textarea {
	 		margin-top: 10px;
	 		overflow: scroll;
	 	}
	 	/*div.comment_feed {
	 		width: 550px;
	 		min-height: 50px;
	 		margin: 0 auto;
	 		margin-bottom: 10px;
	 		margin-top: 10px;
	 		border-bottom: 2px solid black;
	 		overflow: scroll;
	 		word-wrap: break-word;
	 	}*/
















